<html>

<head>
    <title>{{.Title}}</title>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>RIF</th>
                <th>Nombre</th>
                <th>Estatus</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    {{ .response }}
</body>

</html>